body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.center {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-header {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: block;
  text-align: center;
  width: 239px;
  margin: inherit;
  padding: 14px 0;
}

.menu__link {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.menu__item:nth-of-type(2) {
  margin-right: 118px;
}

.menu__item:nth-of-type(3) {
  margin-left: 128px;
}

.menu__link:hover {
  color: #81b3d2;
}

.menu__link:active {
  color: #c1c1c1;
}

.page-header__logo {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -70px;
  z-index: 2;
}

.intro {
  position: relative;
  background-image: url("../img/background_index-header.jpg");
  height: 508px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 -58px;
  z-index: 0;
  display: flex;
  flex-flow: column;
}

.intro__img {
  width: 459px;
  height: 353px;
  padding: 0 370px;
  margin-top: 53px;
  flex: 1 0 auto;
}

.intro__mask {
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  z-index: 4;
  margin-bottom: -2px;
}

.intro-text {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  background-color: #ffffff;
}

.intro-text__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 435px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 27px;
}

.intro-text__description {
  font-size: 14px;
  line-height: 26px;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 400px;
  flex: 1 1 auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 47px;
}

.features__item_full-width {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top:0;
}

.features__text-block {
  width: 400px;
  padding: 45px;
  background-color: #81b3d2;
}

.features__image-block {
  width: 800px;
  height: 256px;
}

.features__title {
  font-size: 21px;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features__text {
  width: 300px;
  margin: 0 auto;
  margin-top: 22px;
}

.features__title_white,
.features__subtitle_white,
.features__text_white {
  color: #ffffff;
}

.features__inner-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  box-sizing: content-box;
 }

.features__item.features__item_house,
.features__item.features__item_food,
.features__item.features__item_souvenir {
  background-color: #ffffff;
}

.features__item_house::before {
  display: block;
  content: " ";
  background-image: url("../img/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 77px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 28px;
}

.features__item_food::before {
  display: block;
  content: " ";
  background-image: url("../img/icon_food.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 77px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 28px;
}

.features__item_souvenir::before {
  display: block;
  content: " ";
  background-image: url("../img/icon_souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  height: 77px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 28px;
}

.features__box-title {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.features__box-subtitle {
  margin-bottom: 23px;
  font-weight: 400;
}

.features__description {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 85px;
}

.search {
  margin: 0;
  margin-top: -25px;
  text-align: center;
  background-color: #ffffff;
}

.search__title {
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 24px;
}

.search__description{
  margin: 0 auto;
  line-height: 24px;
  margin-bottom: 46px;
}

.search__button{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 568px;
  height: 86px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.search__button:hover {
  color: #ffffff;
  background-color: #604e43;
}

.search__button:active {
  color: #717171;
  background-color: #503e33;
}

.search-form {
  position: relative;
  z-index: 6;
}

.search__search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 568px;
  height: 395px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
  padding: 0;
  padding-top: 62px;
  margin-bottom: 80px;
  box-sizing: content-box;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__fieldset_full-width {
  width: 460px;
}

.search-form__fieldset_half-width {
  margin: 0 32px;
}

.search-form__label {
  padding: 0;
  margin-right: 15px;
}

.search-form__input {
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.search-form__input_date {
  width: 326px;
  background-color: #f2f2f2;
}

.search-form__num-button {
  margin: 0;
  width: 38px;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  color: #a9a9a9;
  background-color:  #f2f2f2;
}

.search-form__num-button:hover {
  color: #000000;
  background-color:  #ebebeb;
}

.search-form__num-button:active {
  color: #81b3d2;
  background-color:  #ebebeb;
}

.search-form__input_number {
  width: 18px;
  margin: 0;
  background-color: #f2f2f2;
}

.search-form__input_date:hover,
.search-form__input_number:hover {
  background-color: #ebebeb;
}

.search-form__input_date:focus,
.search-form__input_number:focus{
  background-color: #ffffff;
}

.search-form__input_submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.search-form__input_submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.search-form__input_submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.location__map {
  margin-top: -537px;
  width: 1200px;
  margin-bottom:0;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 26px;
  padding: 36px 0;
  background-color: #ffffff;
}

.page-footer__hashtag {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.page-footer__social-list {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 47px;
  height: 50px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.page-footer__copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-text{
  font-size: 14px;
  color: #000000;
  margin-right: 5px;
}

.page-footer__copyright-link {
  color: #202020;
}

.page-footer__copyright-link:hover {
  color: #d2d2d2;
}

.page-footer__copyright-link:active {
  color: #c4c4c4;
}

.page-footer__copyright-img {
  padding-top: 8px;
}

.filter {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 31px 74px;
  padding-bottom: 0;
  margin-bottom: 36px;
  background: url("../img/background_inner-header.jpg") 2px no-repeat;
}

.filter__group {
  width: 250px;
  border: none;
}

.filter__group:nth-child(2){
  margin-right: 350px;
}

.filter__group:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
}

.filter__group-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.filter__input_checkbox {
  display: none;
}

.filter__input_checkbox + .filter__label {
  font-size: 14px;
  color: #ffffff;
}

.filter__input_checkbox + .filter__label::before {
  display: inline-block;
  content: " ";
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  width: 24px;
  height: 24px;
}

.filter__input_checkbox:checked + .filter__label::before {
  display: inline-block;
  content: " ";
  background-image: url(../img/checkbox-on.svg);
  margin: 0 5px 0 0;
  width: 26px;
  height: 24px;
}

.filter__range{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 314px;
}

.filter__range_min,
.filter__range_max {
  padding: 5px;
  border: 1px solid #ffffff;
  margin-bottom: 20px;
}

.filter__input_range {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 314px;
}

.filter__input_submit{
  width: 134px;
  padding: 8px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-left: 90px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-right: none;
}

.hotel-item__container {
  display: flex;
  padding: 30px 0 30px 74px;
}

.hotel-item__container-info {
  display: block;
}

.hotel-item__img {
  width: 135px;
  height: 90px;
}

.hotel-item__link {
  padding: 0;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 30px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.hotel-item__link:hover {
  color: #81b3d2;
}

.hotel-item__link:active {
  color: #c1c1c1;
}

.hotel-item__container-buttons,
.hotel-item__container-price {
  padding: 0;
  display: flex;
  margin-left: 30px;
}

.hotel-item__type,
.hotel-item__price {
  width: 118px;
}

.hotel-item__button {
  margin: 0;
  padding: 5px 15px;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: none;
}

.hotel-item__button_more {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-item__button_more:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-item__button_more:active {
  color: #7aadcb;
  background-color: #5496bd;
}

.hotel-item__button_booking {
  color: #ffffff;
  background-color: #766357;
}

.hotel-item__button_booking:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-item__button_booking:active {
  color: #766860;
  background-color: #503e33;
}

.hotel-item__container-aside {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
  margin-right: 74px;
}

.hotel-item__rating-list {
  display: flex;
  align-self: flex-end;
  list-style: none;
}

.hotel-item__rating {
  align-self: flex-end;
}
