body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.page-header {
  background-color: #ffffff;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu__item {
  position: relative;
  width: auto;
}

.menu__link {
  display: block;
  line-height: 26px;
  width: 239px;
  text-align: center;
  flex-grow:1;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.menu__link:hover {
  color: #81b3d2;
}

.menu__link:active {
  color: #c1c1c1;
}

.page-header__logo {
  position: absolute;
  margin: 0 auto;
  top: 0px;
}

.page-main {
  display: block;
  margin: 0 auto;
}

.intro {
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  top: 0px;
  background-image: url("../img/background_index-header.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  z-index: 0;
}

.intro__img {
  position: absolute;
  width: 450px;
  left: 350px;
  top: 50px;
}

.intro__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.intro__description {
  font-size: 14px;
  line-height: 26px;
}

.features__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.features__item{
  width: 400px;
  min-height: 256px;
  background-color: #ffffff;
  text-align: center;
}

.features__item_full-width {
  display: block;
  min-width: 1200px;
  background-color: #81b3d2;
 }

.features__item:nth-child(1) {
  background-image: url("../img/feature_house.jpg");
  background-repeat: no-repeat;
  background-position: right;
 }

 .features__item:nth-child(3) {
  background-image: url("../img/feature_panorama.jpg");
  background-repeat: no-repeat;
  background-position: left;
 }

.features__title_white,
.features__subtitle_white,
.features__text_white {
  color: #ffffff;
}

.features__inner-list {
  display: flex;
  list-style: none;
  height: 256px;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
 }

.features__inner-item {
  width: 400px;
  flex-shrink: 2;
}

 .features__box-title::before {
  background-image: url("../img/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  text-align: center;
  background-color: #ffffff;
}

.search__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search__description{
  line-height: 24px;
}

.search__button{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 568px;
  height: 86px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
}

.search__button:hover {
  color: #ffffff;
  background-color: #604e43;
}

.search__button:active {
  color: #717171;
  background-color: #503e33;
}

.search__search-form {
  width: 568px;
  height: 395px;
  font-size: 14px;
  line-height: 26px;
}

.search-form__input_date {
  background-color: #f2f2f2;
}

.search-form__input_date:hover {
  background-color: #ebebeb;
}

.search-form__input_date:focus {
  background-color: #ffffff;
}

.search-form__num-button {
  color: #a9a9a9;
  background-color:  #ffffff;
}

.search-form__num-button:hover {
  color: #000000;
  background-color:  #ffffff;
}

.search-form__num-button:active {
  color: #81b3d2;
  background-color:  #ffffff;
}

.search-form__input_number {
  background-color: #f2f2f2;
}

.search-form__input_number:hover {
  background-color: #ebebeb;
}

.search-form__input_number:focus{
  background-color: #ffffff;
}

.search-form__input_submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.search-form__input_submit:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.search-form__input_submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.page-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 26px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  padding-left: 175px;
  color: #000000;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.social-list__item {
  position: absolute;
  font-size: 14px;
}

.social-list__link:nth-of-type(1) {
  background-image: url("../img/logo_twitter.svg");
  background-color: #81b3d2;
}

.social-list__link:nth-of-type(2) {
  background: url("../img/logo_facebook.svg");
  background-color: #81b3d2;
}

.social-list__link:nth-of-type(3) {
  background: url("../img/logo_youtube.svg");
  background-color: #81b3d2;
}

.page-footer__copyright{
  padding-right: 175px;
  font-size: 21px;
  color: #000000;
}

.page-footer__copyright-link {
  color: #202020;
}

.page-footer__copyright-link:hover {
  color: #d2d2d2;
}

.page-footer__copyright-link:active {
  color: #c4c4c4;
}

.hotel-item__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.hotel-item__link:hover {
  color: #81b3d2;
}

.hotel-item__link:active {
  color: #c1c1c1;
}

.hotel-item__button_more {
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-item__button_more:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-item__button_more:active {
  color: #7aadcb;
  background-color: #5496bd;
}

.hotel-item__button_booking {
  color: #ffffff;
  background-color: #766357;
}

.hotel-item__button_booking:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-item__button_booking:active {
  color: #766860;
  background-color: #503e33;
}
