body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.page-main {
  background-image: url("../img/background_index-header.jpg");
  background-color: #ffffff;
  background-size: 1200px 800px;
  background-position: top center relative;
  background-repeat: no-repeat;
}

.intro__img {
  position: relative;
  top: 132px;
  left: 370px;
  right: 371px;
  width: 459px;
  height: 353px;
}
